*
{
padding: 0px;
margin: 0px;
font-family: 'Roboto', sans-serif;
}

header
{
	color: white; /*#9850ff*/
	height: 100vh;
	/*background-image: url('https://wallpapercave.com/wp/wp3874000.png');*/
	/**/
	background-color: #abc;
	text-align: center;
	/*https://i.imgur.com/aUhpEz3.jpg*/
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	justify-content: center;
	/*margin-bottom: 0px;*/
}